<mat-toolbar class="toolbar">
    <button 
        (click)="drawer.toggle()"
        mat-icon-button
        class="burger">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="centralizarImagem" href="#">
      <img src="assets/logo-onsystem.png" alt="Logo" style="height: 10%; width: 60%;" >
    </a>
    <span class="example-spacer"></span>
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="burger">
        <mat-icon>logout</mat-icon>
    </button>        
</mat-toolbar>
<mat-drawer-container 
class="container" 
[hasBackdrop]="mdcBackdrop">
<mat-drawer #drawer class="drawer"  [mode]="drawerMode">
    <div class="sidenav-content">
        <div class="drawerButton" >
          <button 
          (click)="drawer.toggle()"
          mat-flat-button  
          routerLinkActive="mat-accent" 
          color="primary" 
          routerLink="home">Ocorrências</button>
        </div>
        <div  class="drawerButton">
          <button 
          (click)="drawer.toggle()"
          [routerLink]="['/customer-list']"
          mat-flat-button  
          routerLinkActive="mat-accent" 
          color="primary" 
          routerLink="content">Clientes</button>    
        </div>
        <div  class="drawerButton">
          <button 
          (click)="drawer.toggle()"
          mat-flat-button  
          routerLinkActive="mat-accent" 
          color="primary" 
          routerLink="content">Asegurados</button>    
        </div>
        <div  class="drawerButton">
          <button 
          (click)="drawer.toggle()"
          mat-flat-button  
          routerLinkActive="mat-accent" 
          color="primary" 
          routerLink="content">Colaboradores</button>    
        </div>
        <div  class="drawerButton">
          <button 
          (click)="drawer.toggle()"
          mat-flat-button  
          routerLinkActive="mat-accent" 
          color="primary" 
          routerLink="content">Pagamentos</button>    
        </div>
      </div>
</mat-drawer>
<mat-drawer-content>
    <router-outlet></router-outlet>
</mat-drawer-content>
</mat-drawer-container>